.logo {
  height: 12rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--orange);
  color: var(--white);
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  border: 0.5rem solid var(--accent-color);
  line-height: 1.2;
}

.logo:hover {
  background-color: var(--action-color);
  border: 0.5rem solid var(--tan-2);
}
