.recipe-card {
  background-color: var(--tan-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  max-width: 250px;
  max-height: 300px;
  border: 2px solid var(--tan-3);
  border-radius: 1rem;
}

.recipe-card:hover {
  cursor: pointer;
  border: 2px solid var(--white);
  color: var(--white);
  background-color: var(--action-color);
}

.recipe-card img {
  border-radius: 50%;
}
