.filter-container {
  background-color: var(--tan-1);
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
  gap: 4rem;
  padding: 1rem;
  /* margin-bottom: 1rem; */
}

#filter-recipes-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter button {
  margin: 0;
}

.filter input {
  margin: 0;
  min-width: 50px;
}

.filter button:hover {
  color: var(--white);
}
