footer {
  grid-area: footer;
  font-size: 18px;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 2vmin;
}

footer .fa-github,
footer .fa-linkedin {
  color: var(--text-dark);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

footer .fa-github:hover,
footer .fa-linkedin:hover {
  transform: rotateY(360deg) scale(1.4);
  color: var(--action-color);
}

footer .fa-heart {
  font-size: 24px;
  color: var(--orange);
  transition: transform 0.3s ease-in-out;
}
footer .fa-heart:hover {
  transform: scale(1.3);
}

/* media queries */
@media (max-width: 500px) {
  footer span {
    display: none;
  }
}
