.user-recipes {
  margin: 2rem;
  background-color: var(--orange);
  border: 4px solid var(--accent-color);
  border-radius: 2rem;
  padding: 2rem;
}

.user-recipes aside,
.user-recipes h4 {
  color: var(--white);
}

.user-recipes code {
  color: var(--text-dark);
}

.user-recipes section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: max-content;
  gap: 1rem;
  border-radius: 1rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.user-recipes .remove-recipe-btn {
  color: var(--text-dark);
  border-color: var(--text-dark);
  margin-top: 0.25rem;
}

.user-recipes .remove-recipe-btn:hover {
  color: red;
  border-color: red;
  background-color: rgb(92, 7, 7);
  font-weight: bold;
}
