.search-and-filter {
  background-color: var(--tan-1);
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
  gap: 4rem;
  padding: 1rem;
}

.search-and-filter button {
  margin: 0;
}

.search-and-filter input {
  margin: 0;
}

.search-and-filter button:hover {
  color: var(--white);
}

.search {
  display: flex;
}
