.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  /* main grid */
  display: grid;
  grid: auto 1fr auto / 10vw 1fr 10vw;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer";
  min-height: calc(100vh - 4rem);

  background-color: var(--white);
  width: 100%;
  margin: 2rem;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.2em rgba(141, 131, 119, 0.8),
    -0.1em -0.1em 0.2em rgba(141, 131, 119, 0.2);
}
