@import url("./assets/Skeleton-2.0.4/css/normalize.css");
@import url("./assets/Skeleton-2.0.4/css/skeleton.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

:root {
  --white: #fafafa;
  --tan-1: #f6ece2;
  --tan-2: #e0d2c5;
  --tan-3: #c6baaf;
  --tan-4: #af9f90;
  --orange: #e65a35;
  --text-light: #8d8377;
  --text-dark: #111311;
  --action-color: #4bbcb4;
  --accent-color: #ecbe23;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-1);
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

.app-title {
  font-family: "Dancing Script", cursive;
}

.auth-container {
  grid-area: main;
  padding: 3rem;
}

.grid-area-main {
  grid-area: main;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: 1px solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
  margin-bottom: 0;
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important;
  outline: none;
}

button,
a.button {
  border: 1px solid var(--text-light);
  color: var(--text-light);
  margin: 0;
}

button:hover,
a.button:hover {
  background-color: var(--action-color);
  color: var(--white);
  border: 1px solid var(--action-color);
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

.form-container button {
  background-color: var(--action-color);
  color: var(--white);
}

.form-container button:disabled,
.form-container form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
  color: var(--text-light);
  border: 1px solid var(--tan-4);
}

.form-container button:disabled:hover,
.form-container a.button:disabled:hover {
  border: 1px solid var(--tan-4);
  outline: none;
  color: var(--text-light);
}

button[type="submit"] {
  grid-column: span 2;
}
